.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #1a1a2e;
  color: #fff;
  padding: 5rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 255, 255, 0.1), rgba(0, 255, 255, 0.3), transparent);
  animation: glowing-background 8s infinite alternate;
  filter: blur(40px);
  z-index: -1;
}

@keyframes glowing-background {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}


@keyframes light-glow {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.hero-title {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.7);
  animation: slideInFromLeft 1.5s ease-out forwards;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero-highlight {
  color: #5ac8fa;
}

.hero-description {
  margin: 1.5rem 0;
  font-size: 1.8rem;
  color: #ddd;
  font-weight: 300;
  line-height: 1.6;
  animation: fadeInUp 1.5s ease-out forwards;
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.6), 0 0 30px rgba(0, 255, 255, 0.5);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.hero-welcome {
  font-size: 2.5rem;
  color: #00f6ff;
  font-weight: 600;
  text-align: center;
  animation: fadeInUp 1.5s ease-out forwards;
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.7);
}

.hero-features {
  list-style-type: none;
  margin-top: 1.5rem;
  padding-left: 0;
  font-size: 1.3rem;
  animation: fadeInUp 1.5s ease-out forwards;
  animation-delay: 0.5s;
}

.hero-features li {
  margin: 1rem 0;
  color: #fff;
  font-weight: 400;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(30px);
  animation: moveIn 0.8s forwards;
}

.hero-features li:nth-child(1) {
  animation-delay: 0.5s;
}

.hero-features li:nth-child(2) {
  animation-delay: 0.7s;
}

.hero-features li:nth-child(3) {
  animation-delay: 0.9s;
}

.hero-features li:nth-child(4) {
  animation-delay: 1.1s;
}

@keyframes moveIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-image-container {
  max-width: 500px;
  max-height: 500px;
  margin-left: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(0, 255, 255, 0.5);
}

.hero-image:hover {
  transform: scale(1.05);
}

@keyframes particles-glow {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    transform: translate(5px, 5px);
  }
  100% {
    opacity: 0;
    transform: translate(-5px, -5px);
  }
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 255, 255, 0.1), rgba(0, 255, 255, 0.3), transparent);
  animation: glowing-background 8s infinite alternate;
  filter: blur(40px);
  z-index: -1;
}

.hero-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, rgb(230, 197, 126) 0%, rgba(0, 255, 255, 0.075) 50%, rgba(0, 255, 255, 0) 100%);
  animation: light-glow 10s ease-in-out infinite;
  z-index: 1;
}

.bubble {
  position: absolute;
  left: 68%;
  top: 60%;
  padding: 15px 30px;
  background-color: rgb(245, 160, 32);
  border-radius: 50px;
  color: #000000;
  font-size: 1.4rem;
  max-width: 450px;
  min-width: 180px;
  text-align: center; 
  animation: bubble-animation 15s ease-out infinite;
  box-shadow: 0 0 25px rgba(20, 20, 20, 0.7);
  opacity: 0;
  z-index: 2;
  transform-origin: center;
}

@keyframes bubble-animation {
  0% {
    opacity: 0;
    transform: translateX(50px) scale(0.8);
  }
  20% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  80% {
    opacity: 0;
    transform: translateX(-50px) scale(0.8);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px) scale(0.8);
  }
}

.bubble-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #00f6ff;
  width: 0;
  animation: typing 4s steps(40, end) 1s forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #00f6ff;
  }
}