:root {
  --primary-color: #00c6ff;
  --secondary-color: #0072ff;
  --background-color: #0d0d0d;
  --background-gradient: linear-gradient(145deg, #0d0d0d, #1a1a1a);
  --text-color: #ffffff;
  --text-secondary-color: #ccc;
  --box-shadow-color: rgba(0, 255, 255, 0.4);
  --neon-border-color: rgba(0, 255, 255, 0.5);
  --neon-shadow-color: rgba(0, 255, 255, 0.3);
}

.meeting-section {
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
  background: var(--background-gradient);
  border-radius: 20px;
  box-shadow: 0 5px 20px rgb(168, 129, 206);
  margin: 4rem auto;
  max-width: 1400px;
  overflow: hidden;
}

.meeting-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.meeting-content {
  color: var(--text-color);
  text-align: center; 
  animation: fade-in 1.5s ease-in-out;
}

.meeting-content h2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--text-color);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
  margin-bottom: 1.5rem;
}

.meeting-content p {
  font-size: 1.2rem;
  color: var(--text-secondary-color);
  margin-bottom: 2rem;
  line-height: 1.8;
}

.meeting-content a:hover {
  color: var(--text-color);
}

.meeting-button {
  margin: 0 auto;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 20px var(--box-shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.meeting-button:hover {
  transform: translateY(-5px);
}

.meeting-button:active {
  transform: translateY(2px);
}

.meeting-visual {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neon-circle {
  width: 350px;
  height: 350px;
  border: 10px solid var(--neon-border-color);
  border-radius: 50%;
  position: absolute;
  animation: pulse 2s infinite alternate;
  filter: blur(15px);
  z-index: 0;
}

.meeting-image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 20px var(--neon-shadow-color);
  z-index: 1;
}
