/* Carrousel Horizontal */
.sub-category {
    display: flex;
    flex-wrap: nowrap; /* Désactive le retour à la ligne */
    overflow-x: auto; /* Ajoute le défilement horizontal */
    gap: 20px;
    padding: 10px 0;
    scrollbar-width: thin;
    scrollbar-width: none;  /* Barres de défilement fines */
  }
  
  .sub-category::-webkit-scrollbar {
    height: 8px;
    display: none; /* Hauteur de la barre de défilement */
  }
  
  .sub-category::-webkit-scrollbar-thumb {
    background: rgba(0, 255, 255, 0.5); /* Couleur de la barre */
    border-radius: 10px;
  }
  
  .sub-category::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); /* Couleur de l'arrière-plan */
  }
  
  /* Carte individuelle */
  .card {
    flex: 0 0 calc(50% - 20px); /* Deux cartes visibles par ligne */
    max-width: calc(50% - 20px);
    box-sizing: border-box; /* Inclut les marges et paddings */
  }
  
  /* Contrôles du carrousel */
  .carousel-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .carousel-control {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .carousel-control:hover {
    background-color: rgba(0, 255, 255, 0.5);
    transform: scale(1.1);
  }
  
  .carousel-control:active {
    transform: scale(0.95);
    user-select: none; 
  }