.category-block {
  width: 100%;
  max-width: 1500px;
  padding: 3rem;
  background: linear-gradient(145deg, #0d0d0d, #1f1f1f);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
  animation: fade-in 1.5s ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.4;
  }
}

.category-block h3 {
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}

.category-description {
  font-size: 1.2rem;
  color: #ccc;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
}

.sub-category {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  z-index: 21;
}

/* Style du titre principal avec ligne */
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
  margin-top: 40px; /* Augmentez la valeur pour plus d'espace */
}

.section-title h4 {
  font-size: 2.5rem; /* Taille plus grande pour le titre */
  font-weight: 700;
  color: #ff7733; /* Couleur similaire à celle de l'image */
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.section-title:before {
  content: "";
  display: block;
  width: 80px; /* Longueur de la ligne */
  height: 2px;
  background: linear-gradient(to right, #ff7733, transparent); /* Ligne dégradée */
  border-radius: 5px;
  transform: translateY(3px); /* Aligne la ligne avec le texte */
}

.section-title:after {
  content: "";
  display: block;
  width: 80px; /* Longueur de la ligne */
  height: 2px;
  background: linear-gradient(to right, #ff7733, transparent); /* Ligne dégradée */
  border-radius: 5px;
  transform: translateY(3px); /* Aligne la ligne avec le texte */
}

/* Call to Action Section */
.cta-section-agent {
  border-radius: 20px;
  text-align: center;
}

.cta-title-agent {
  font-size: 1.8rem; /* Réduit légèrement la taille de la police */
  color: #66fcf1;
  margin-bottom: 10px; /* Réduit l'espacement sous le titre */
  text-shadow: 0 0 10px rgba(102, 252, 241, 0.7);
}

.cta-description-agent {
  font-size: 1.1rem; /* Réduit légèrement la taille de la description */
  line-height: 1.6; /* Diminue légèrement l'espacement entre les lignes */
  margin-bottom: 15px; /* Réduit l'espace sous la description */
}

.cta-button-agent {
  background: #66fcf1;
  color: #1f2833;
  font-size: 1rem;
  padding: 10px 25px; /* Diminue légèrement le padding du bouton */
  border-radius: 25px; /* Ajuste la courbure pour un look plus compact */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button-agent:hover {
  background: #ff9900;
  color: #000000;
}